<a href="https://colab.research.google.com/github/l19060741/Curso-Phyton/blob/main/Anahi_Gonzalez_Ejercicios_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicios

Anota los tipos de datos de Python y declara una variable para cada tipo

In [ ]:
#Los tipo de datos en Python son:

#Números
num = 4

#Cadenas
cadena = "Esto es una cadena"

#Listas
lista = [1,'a','3',4]

#Diccionarios
diccionario = {'Perro':'Manchas','Gato':'Botas','Conejo':'Taco' }

#Booleanos
aprendiendo = True

#Tuplas
tupla = (2,4,6)

#Conjuntos
conjunto = {'a','b',2,1}

Dado que se tienen las siguiente variables, imprime con print el texto:

Hay 34 estudiantes en el curso de aprendizaje con Python

In [ ]:
es = 34
clase = 'curso de aprendizaje con Python'

In [ ]:
print('Hay {} estudiantes en el {}'.format(es,clase))

Hay 34 estudiantes en el curso de aprendizaje con Python

Dada la siguiente lista, indexa la palabra 'hola'

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hola']],23,11],1,7]

In [ ]:
lst[3][1][2]

['hola']

Dado el siguiente diccionario, indeza la palabra 'hola'

In [ ]:
d = {3:[1,2,3,{'curso':['aprendizaje','con','python',{'intel':[1,2,3,'hola']}]}]}

In [ ]:
d[3][3]['curso'][3]['intel'][3]

'hola'

Haz una función que dada la siguiente lista encuentre el valor máximo y regresa tanto el valor como el índice en donde estaba (no usar una función ya hecha). Prueba usando for

In [ ]:
lista = [4,9,15,-2,4,3,4,7,25,-25]

In [ ]:
def max(a):
  j = -1
  for i in a:
    j = j + 1
    if j==0:
      mayor=i
      indice=j
    if i>mayor:
      mayor = i
      indice = j
  return mayor,indice

In [ ]:
print(max(lista))

(25, 8)

Haz una función que reciba un enunciado e indique cuantas palabras hay en total y cuantas de esas palabras empiezan con la letra a (mayúscula o minúscula)

In [ ]:
def palabras(cadena):
  pal=cadena.split()
  cant=len(pal)
  a=0
  for i in range(cant):
    if cadena.split()[i][0] == 'a' or cadena.split()[i][0] == 'A':
      a = a + 1
  return cant,a

In [ ]:
enunciado = "Anahi es alumna del ITCH"
resultado = palabras(enunciado)
resultado

(5, 2)

Haz el mismo ejercicio del problema anterior incluyendo las funciones lambda y filter

In [ ]:
def palabras(cadena):
  split=lambda cadena:cadena.split()
  pal=split(cadena)
  cant=len(pal)
  a=list(filter(lambda i:i[0] == ('A') or i[0] == ('a'), pal))
  a=len(a)
  return cant,a

In [ ]:
enunciado = "Anahi es alumna del ITCH"
resultado = palabras(enunciado)
resultado

(9, 6)